:root {
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
}

* {
  box-sizing: border-box
}


body {
  font-family: "Red Hat Text", sans-serif;
  background-color: var(--rose-50);
}

.main-wrapper {
  margin: 0 20px;
}

h1 {
  color: var(--rose-900);
  padding-left: 20px;
}

.img-box {
  position: relative;
  width: 100%;
}

.img-box img {
  width: 100%;
  border-radius: 10px;
  border: 2px solid transparent;
}

/* Increase specificity */
.img-box img.selected {
  border: 2px solid var(--red);
}

.add-to-cart {
  position: absolute;
  bottom: -34px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--rose-400);
  background-color: #fff;
  font-weight: 600;
  font-size: 0.8rem;
  width: 140px;
  height: 38px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.item-selected {
  position: absolute;
  bottom: -34px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: var(--red);
  font-weight: 600;
  font-size: 0.8rem;
  width: 140px;
  height: 38px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-self: center;
}

.item-selected span {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  color: var(--rose-50);
}

.item-selected span:nth-child(odd) {
  border: 1px solid var(--rose-50);
  border-radius: 50%;
}

.item-selected span img {
  width: 9px;
  height: 9px;
}

.add-to-cart span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.add-to-cart span img {
  width: 100%;
  height: 100%;
}

.item-description {
  margin: 35px 0;
}

.item-description div {
  margin-bottom: 3px;
}

.item-cetrgory {
  font-size: 0.9rem;
  color: var(--rose-400);
}

.item-name {
  color: var(--rose-500);
  font-weight: 700;
}

.price {
  color: var(--red);
  font-weight: 600;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.cart h2 {
  align-self: flex-start;
  color: var(--red);
  margin: 0 ;

}

.empty-cart-message {
  color: var(--rose-500);
  margin-top: 0;
}

.order-summary {
  width: 100%;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  row-gap: 5px;
  border-bottom: 1px solid var(--rose-100);
}

.item1 {
  color: var(--rose-500);
  font-weight: 700;
}

.item1, .item3 {
  grid-column: 1 / span 2;
}

.item2 {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item2 img {
  position: absolute;
  display: block;
  border: 1px solid var(--rose-300);
  border-radius: 50%;
  padding: 3px;
}

.item3 span {
  display: inline-block;
  margin-right: 10px;
  margin-top: 0;
  font-weight: 600;
}

.item3 span:nth-child(1) {
  color: var(--red);
  margin-right: 20px
}

.item3 span:nth-child(2) {
  color: var(--rose-400);
  font-weight: 400;
}

.item3 span:nth-child(3) {
  color: var(--rose-500)
}

.confirm-order {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.confirm-order div {
  margin: 15px 0;
}

.confirm-order div:nth-child(2) {
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 7px;
  background-color: var(--rose-50);
}

.order-total {
  display: flex;
  justify-content: space-between;
}

.order-total span {
  display: inline-block;
  align-self: center;
}

.order-total span:nth-child(1) {
  font-size: 0.9rem;
}

.order-total span:nth-child(2) {
  font-size: 1.3rem;
  font-weight: 600;
}

.delivery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delivery span {
  display: inline-block;
}

.delivery span img {
  padding: 5px 10px 0 10px;
}

.confirmation-button {
  color: var(--rose-100);
  text-align: center;
  line-height: 45px;
  background-color: var(--red);
  border: 1px solid transparent;
  border-radius: 30px;
}

.hidden {
  display: none;
}
